#navbar {
  background-color: #fafafa;
}

#navbar-brand {
  color: #000000;
  font-size: 30px;
}

#navbar-toggler-icon {
  background-color: #f0f5f0;
}

#navbar-nav .nav-link {
  color: #ecefec;
  font-size: 20px;
}

#search-input {
  border: 1px solid #090909;
  width: 600px;
}

#btn-icon {
  color: #26b11f;
  font-size: 24px;
}

#btn-icon svg {
  fill: black;
}

#search-input {
  width: 600px !important;
  border: 1px solid #090909;
  color: black;
}

#search-input::placeholder {
  color: black;
}

#subtitle {
  font-size: 15px;
  color: #62646A;
}
