#navbar {
  background-color: rgb(18, 19, 35);
  padding-top: 5%;
}

.line {
  border: solid 4px;

  border-color: #d62929;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 0.4s ease; /* Add a smooth transition effect */
  position: relative;
  right: 120%;
}

.link:hover .line {
  opacity: 1; /* Set opacity to 1 when hovering over the link */
}
