#navbar {
  background-color: rgb(16, 19, 40);
}
.line {
  border: solid 4px;

  border-color: #d62929;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 0.4s ease; /* Add a smooth transition effect */
  position: relative;
  right: 35%;
}
.title {
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 0.4s ease; /* Add a smooth transition effect */
}
.link {
  text-decoration: none;
}
.link:hover .line {
  opacity: 1; /* Set opacity to 1 when hovering over the link */
}
#show {
}
