#home {
  height: 660px;
  animation: colorChange 7s infinite alternate;
}

#footer {
  animation: colorChange 7s infinite alternate;
}

@keyframes colorChange {
  0%,
  30% {
    background-color: rgb(158, 60, 91);
  }
  70%,
  100% {
    background-color: rgb(3, 59, 7);
  }
}
